@charset "utf-8";
/* CSS Document */
.hwrap{height:auto;padding-bottom:10px;text-align:center;}
.kwrap{height:auto;padding-bottom:10px;text-align:center;}
.kcontent{border:none;background:#F0F3FF;height:400px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;border:3px solid white;}